* {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #fcfcfc;
}

main {
    background-color: rgb(3, 183, 255);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(98, 0, 255);
}